@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: "Harper Bold";
    src: url("/web-fonts/harper-bold/22f4bb3b4dcdf6d0431218aa720c7afa.eot");
    src: url("/web-fonts/harper-bold/22f4bb3b4dcdf6d0431218aa720c7afa.eot?#iefix")format("embedded-opentype"),
        url("/web-fonts/harper-bold/22f4bb3b4dcdf6d0431218aa720c7afa.woff")format("woff"),
        url("/web-fonts/harper-bold/22f4bb3b4dcdf6d0431218aa720c7afa.woff2")format("woff2"),
        url("/web-fonts/harper-bold/22f4bb3b4dcdf6d0431218aa720c7afa.ttf")format("truetype"),
        url("/web-fonts/harper-bold/22f4bb3b4dcdf6d0431218aa720c7afa.svg#Harper Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

.font-harper-bold{
    font-family: "Harper Bold", sans-serif;
}